body {
  background-color: #F6F7F8;
}
.custom-nav {
  background-color: #221E22;
}
.nav-link {
  color: #F6F7F8;
}
.nav-link:hover {
  color: #2D4CC8;
}
.blue {
  color: #2D4CC8;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; 
  padding: 100px 200px;
}
.hero img {
  position: relative;
  top: -100px;
}
.features {
  padding: 0 200px;
  margin-left: 60px;
  margin-top: -100px;
}
.jumbotron {
  margin-top: 80px;
}
